<ion-view title="Account">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                Account details
            </div>
            <div class="item">
                <p>Username: {{currentUser.username}}</p>
                <p>Email: {{currentUser.email}}</p>
                <p>User ID: {{currentUser.id}}</p>
            </div>
        </div>
        <button ng-click="logout()"
          class="button button-block button-energized icon ion-log-out">Logout</button>
    </ion-content>
</ion-view>
