<ion-view title="IonicLoop">
    <ion-content>
        <form novalidate="novalidate" name="loginForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios7-person"></i>
                    <input ng-model="credentials.username"
                      type="text" name="username" placeholder="Username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios7-locked"></i>
                    <input ng-model="credentials.password"
                      type="password" name="password" placeholder="Password" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="login()"
                  class="button icon ion-log-in button-block button-royal">Login</button>
                <button ng-click="fbLogin()"
                  class="button button-block button-royal button-outline">Login with Facebook</button>
                <button ng-click="goToRegister()"
                  class="button button-block button-royal button-outline">Don't have an account yet?</button>
            </div>
        </form>
    </ion-content>
</ion-view>
