<ion-view title="Register">
    <ion-content>
        <form novalidate="novalidate" name="registerForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios7-person"></i>
                    <input ng-model="registration.username"
                      type="text" placeholder="Username" name="username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-email"></i>
                    <input ng-model="registration.email"
                      type="email" placeholder="E-mail" name="email" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios7-locked"></i>
                    <input ng-model="registration.password"
                      type="password" placeholder="Password" name="password" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="register()"
                        class="button icon ion-compose button-block button-outline button-royal">
                    Register
                </button>
                <button ng-click="fbLogin()"
                        class="button icon ion-compose button-block button-outline button-royal">
                    Register With Facebook
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
