<ion-view>
    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">
        <ion-tab title="Account" icon="ion-person" href="#/tab/account">
            <ion-nav-view name="account-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
